<h2>Notebook used for the capstone project</h2>

In [22]:
import pandas as pd
import numpy as np

In [146]:
df = pd.read_csv("Data-Collisions.csv")

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [147]:
pd.set_option("display.max_columns", None)
df.describe(include="all")

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYCODE.1,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,SDOT_COLDESC,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
count,194673.000000,189339.000000,189339.000000,194673.000000,194673.000000,194673.000000,194673,194673,192747,65070.000000,191996,84811,5638,194673.000000,194673,189769,194673.000000,194673.000000,194673.000000,194673.000000,194673,194673,188344,194673.000000,194673,29805,189789,189592,189661,189503,4667,1.149360e+05,9333,194655,189769,194673.000000,1.946730e+05,194673
unique,NaN,NaN,NaN,NaN,NaN,NaN,194670,2,3,NaN,24102,2,1,NaN,2,10,NaN,NaN,NaN,NaN,5985,162058,7,NaN,39,1,4,11,9,9,1,NaN,1,115,62,NaN,NaN,2
top,NaN,NaN,NaN,NaN,NaN,NaN,1776526,Matched,Block,NaN,BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB ...,,"Not Enough Information, or Insufficient Locati...",NaN,Property Damage Only Collision,Parked Car,NaN,NaN,NaN,NaN,2006/11/02 00:00:00+00,11/2/2006,Mid-Block (not related to intersection),NaN,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",Y,N,Clear,Dry,Daylight,Y,NaN,Y,32,One parked--one moving,NaN,NaN,N
freq,NaN,NaN,NaN,NaN,NaN,NaN,2,189786,126926,NaN,276,79173,5638,NaN,136485,47987,NaN,NaN,NaN,NaN,96,96,89800,NaN,85209,29805,100274,111135,124510,116137,4667,NaN,9333,27612,44421,NaN,NaN,187457
mean,1.298901,-122.330518,47.619543,108479.364930,141091.456350,141298.811381,NaN,NaN,NaN,37558.450576,NaN,NaN,NaN,1.298901,NaN,NaN,2.444427,0.037139,0.028391,1.920780,NaN,NaN,NaN,13.867768,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.972521e+06,NaN,NaN,NaN,269.401114,9.782452e+03,NaN
std,0.457778,0.029976,0.056157,62649.722558,86634.402737,86986.542110,NaN,NaN,NaN,51745.990273,NaN,NaN,NaN,0.457778,NaN,NaN,1.345929,0.198150,0.167413,0.631047,NaN,NaN,NaN,6.868755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.553533e+06,NaN,NaN,NaN,3315.776055,7.226926e+04,NaN
min,1.000000,-122.419091,47.495573,1.000000,1001.000000,1001.000000,NaN,NaN,NaN,23807.000000,NaN,NaN,NaN,1.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.007024e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
25%,1.000000,-122.348673,47.575956,54267.000000,70383.000000,70383.000000,NaN,NaN,NaN,28667.000000,NaN,NaN,NaN,1.000000,NaN,NaN,2.000000,0.000000,0.000000,2.000000,NaN,NaN,NaN,11.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.040015e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
50%,1.000000,-122.330224,47.615369,106912.000000,123363.000000,123363.000000,NaN,NaN,NaN,29973.000000,NaN,NaN,NaN,1.000000,NaN,NaN,2.000000,0.000000,0.000000,2.000000,NaN,NaN,NaN,13.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.023022e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
75%,2.000000,-122.311937,47.663664,162272.000000,203319.000000,203459.000000,NaN,NaN,NaN,33973.000000,NaN,NaN,NaN,2.000000,NaN,NaN,3.000000,0.000000,0.000000,2.000000,NaN,NaN,NaN,14.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.015501e+07,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
max,2.000000,-122.238949,47.734142,219547.000000,331454.000000,332954.000000,NaN,NaN,NaN,757580.000000,NaN,NaN,NaN,2.000000,NaN,NaN,81.000000,6.000000,2.000000,12.000000,NaN,NaN,NaN,69.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.307202e+07,NaN,NaN,NaN,525241.000000,5.239700e+06,NaN

In [148]:
df = df[["SEVERITYCODE", "ADDRTYPE", "ROADCOND", "LIGHTCOND"]]

In [149]:
df.dtypes

SEVERITYCODE     int64
ADDRTYPE        object
ROADCOND        object
LIGHTCOND       object
dtype: object

In [150]:
df.isna().sum()

SEVERITYCODE       0
ADDRTYPE        1926
ROADCOND        5012
LIGHTCOND       5170
dtype: int64

In [151]:
df.dropna(inplace=True)

In [152]:
df.describe(include="all")

         SEVERITYCODE ADDRTYPE ROADCOND LIGHTCOND
count   187630.000000   187630   187630    187630
unique            NaN        3        9         9
top               NaN    Block      Dry  Daylight
freq              NaN   123400   123808    115448
mean         1.303336      NaN      NaN       NaN
std          0.459700      NaN      NaN       NaN
min          1.000000      NaN      NaN       NaN
25%          1.000000      NaN      NaN       NaN
50%          1.000000      NaN      NaN       NaN
75%          2.000000      NaN      NaN       NaN
max          2.000000      NaN      NaN       NaN

In [153]:
df["ADDRTYPE"].unique()

array(['Intersection', 'Block', 'Alley'], dtype=object)

In [154]:
df["ROADCOND"].unique()

array(['Wet', 'Dry', 'Unknown', 'Snow/Slush', 'Ice', 'Other',
       'Sand/Mud/Dirt', 'Standing Water', 'Oil'], dtype=object)

In [155]:
df["LIGHTCOND"].unique()

array(['Daylight', 'Dark - Street Lights On', 'Dark - No Street Lights',
       'Unknown', 'Dusk', 'Dawn', 'Dark - Street Lights Off', 'Other',
       'Dark - Unknown Lighting'], dtype=object)

In [156]:
df["ROADCOND"].value_counts()

Dry               123808
Wet                47243
Unknown            14019
Ice                 1195
Snow/Slush           993
Other                124
Standing Water       111
Sand/Mud/Dirt         73
Oil                   64
Name: ROADCOND, dtype: int64

In [157]:
df["LIGHTCOND"].value_counts()

Daylight                    115448
Dark - Street Lights On      48278
Unknown                      12607
Dusk                          5851
Dawn                          2491
Dark - No Street Lights       1528
Dark - Street Lights Off      1189
Other                          227
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64

In [158]:
filter1 = df["ROADCOND"] == "Unknown"
filter2 = df["LIGHTCOND"] == "Unknown"

df.drop(df[filter1].index, inplace=True)
df.drop(df[filter2].index, inplace=True)

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

In [159]:
df.describe(include="all")

         SEVERITYCODE ADDRTYPE ROADCOND LIGHTCOND
count   170823.000000   170823   170823    170823
unique            NaN        3        8         8
top               NaN    Block      Dry  Daylight
freq              NaN   108552   121839    112825
mean         1.327409      NaN      NaN       NaN
std          0.469269      NaN      NaN       NaN
min          1.000000      NaN      NaN       NaN
25%          1.000000      NaN      NaN       NaN
50%          1.000000      NaN      NaN       NaN
75%          2.000000      NaN      NaN       NaN
max          2.000000      NaN      NaN       NaN

In [160]:
one_hot = pd.get_dummies(df["ADDRTYPE"])
df = df.drop("ADDRTYPE", axis=1)
df = df.join(one_hot)
df

,SEVERITYCODE,ROADCOND,LIGHTCOND,Alley,Block,Intersection
0,2,Wet,Daylight,0,0,1
1,1,Wet,Dark - Street Lights On,0,1,0
2,1,Dry,Daylight,0,1,0
3,1,Dry,Daylight,0,1,0
4,2,Wet,Daylight,0,0,1
...,...,...,...,...,...,...
194668,2,Dry,Daylight,0,1,0
194669,1,Wet,Daylight,0,1,0
194670,2,Dry,Daylight,0,0,1
194671,2,Dry,Dusk,0,0,1
194672,1,Wet,Daylight,0,1,0

In [161]:
one_hot = pd.get_dummies(df["ROADCOND"])
df = df.drop("ROADCOND", axis=1)
df = df.join(one_hot, lsuffix="_ROADCOND")
df

,SEVERITYCODE,LIGHTCOND,Alley,Block,Intersection,Dry,Ice,Oil,Other,Sand/Mud/Dirt,Snow/Slush,Standing Water,Wet
0,2,Daylight,0,0,1,0,0,0,0,0,0,0,1
1,1,Dark - Street Lights On,0,1,0,0,0,0,0,0,0,0,1
2,1,Daylight,0,1,0,1,0,0,0,0,0,0,0
3,1,Daylight,0,1,0,1,0,0,0,0,0,0,0
4,2,Daylight,0,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
194668,2,Daylight,0,1,0,1,0,0,0,0,0,0,0
194669,1,Daylight,0,1,0,0,0,0,0,0,0,0,1
194670,2,Daylight,0,0,1,1,0,0,0,0,0,0,0
194671,2,Dusk,0,0,1,1,0,0,0,0,0,0,0
194672,1,Daylight,0,1,0,0,0,0,0,0,0,0,1

In [162]:
one_hot = pd.get_dummies(df["LIGHTCOND"])
df = df.drop("LIGHTCOND", axis=1)
df = df.join(one_hot, lsuffix="_LIGHTCOND")
df

In [163]:
df

,SEVERITYCODE,Alley,Block,Intersection,Dry,Ice,Oil,Other_LIGHTCOND,Sand/Mud/Dirt,Snow/Slush,Standing Water,Wet,Dark - No Street Lights,Dark - Street Lights Off,Dark - Street Lights On,Dark - Unknown Lighting,Dawn,Daylight,Dusk,Other
0,2,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0
1,1,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
2,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,2,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194668,2,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
194669,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0
194670,2,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
194671,2,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
194672,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0

In [165]:
features = df.drop("SEVERITYCODE", axis=1)
label = df["SEVERITYCODE"]

# Split data in test and train
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features,
                                                    label,
                                                    test_size=0.20)

In [166]:
# GradientBoostingClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

classifier = GradientBoostingClassifier()
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
print(accuracy_score(y_test, y_pred)) # out of 1; 1 = 100%
print(confusion_matrix(y_test, y_pred))

0.6723254792916727
[[22968     6]
 [11189     2]]

In [167]:
# KNeighborsClassifier
from sklearn.neighbors import KNeighborsClassifier

classifier = KNeighborsClassifier(n_neighbors=3)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
print(accuracy_score(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

0.6598858480901507
[[21373  1601]
 [10019  1172]]

In [169]:
# SVC
from sklearn.svm import SVC

classifier = SVC(kernel="poly", degree=8)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
print(accuracy_score(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

0.6723254792916727
[[22966     8]
 [11187     4]]